*{
    padding:0;
    margin:0;
}

header{
      background-color: rgb(3, 3, 75);
      height: 80px;
      width: 100%;
}

h1{
    color: aliceblue;
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
    border-radius: 10px;
}

header a{
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
}

header a:hover{
    text-decoration: underline;
}

head li{
    display: inline;
    margin-right: 4vw;
    margin-right: 10px;
}

header ul{
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header ul li{
    display: inline;
    margin-right: 10px;
}

h2{
    color: rgb(63, 132, 175);
}   

p{
    color: rgb(63, 132, 175);
}

li{
    color: aliceblue;
}

section{
    background-color: rgb(243, 220, 224);
    padding: 10px 20px;
    margin: 30px;
    border-radius: 10px;
}

footer{
    background-color: rgb(243, 220, 224);
    padding: 10px 20px;
    margin: 30px;
    border-radius: 10px;
}

